; {{ ansible_managed }}

; Common
date.timezone={{ php_timezone }}

; affects XDebug var_dump format and errors output
html_errors = 0

{% if dev_mode %}
; XDebug
xdebug.max_nesting_level = 250
xdebug.idekey = "DBG_IDE_KEY"
xdebug.overload_var_dump = 1
xdebug.remote_connect_back = 1
xdebug.remote_enable = 1
xdebug.remote_handler = "dbgp"
xdebug.remote_port = 11002

{% endif %}


