<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <style>
            .content {
                margin: 20px;
            }

            ul > li {
                list-style: none;
                float: left;
                display: block;
                padding: 10px;
            }

            ul > li:last-child {
                clear: right;
            }

            .menu {
                background-color: #aacd4e;
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><a href="{{ path('supplier') }}">Suppliers</a></li>
                <li><a href="{{ path('small-product') }}">Small Products</a></li>
                <li><a href="{{ path('big-product') }}">Big Products</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
