{% extends 'base.html.twig' %}

{% block body %}
    <h4>Table Of Contents</h4>
    <ol>
        <li><a href="{{ path('supplier') }}">Suppliers</a></li>
        <li><a href="{{ path('small-product') }}">Small Products</a></li>
        <li><a href="{{ path('big-product') }}">Big Products</a></li>
    </ol>
{% endblock %}
